@page
@model Front_end.Web.Pages.Dashboard.CRUD.IndexModel
@{
    ViewData["Title"] = "Data Management";
    Layout = "_Layout";
}

<div class="dashboard-container">
    <h1>Data Management (CRUD)</h1>
    <p>Manage application data here.</p>
</div>
